#cloud-config
#
#  Set machine default values
#
hostname: {{ item.hostname }}
fqdn: {{ item.fqdn }}
manage_etc_hosts: localhost

ssh_authorized_keys:
  - {{ ansible_ssh_key }}

network-interfaces: |
  auto lo
  iface lo inet loopback

  iface eth0 inet static
    address {{ item.ip }}
    netmask 255.255.255.0
    gateway 192.168.1.1

debug:
   verbose: true
