#cloud-config
#
#  Set machine default values
#
hostname: {{ item.hostname }}
fqdn: {{ item.fqdn }}
manage_etc_hosts: localhost

users:
  - name: ansible
    gecos: Ansible
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh-import-id: None
    lock_passwd: true
    ssh-authorized-keys:
      - {{ ansible_ssh_key }}

write_files:
  - path: /etc/network/interfaces
    content: |
      #  Loopback network interface
      auto lo
      iface lo inet loopback

      #  Primary network interface
      auto ens160
      iface ens160 inet static
      address {{ item.ip }}
      network 192.168.1.0
      broadcast 192.168.1.255
      gateway 192.168.1.1

      dns-nameservers 8.8.8.8 8.8.4.4

power_state:
  timeout: 120
  delay: "+1"
  mode: reboot
  message: Bye Bye
  condition: true

debug:
   verbose: true
